body {
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 1100px;
    margin: auto;
}

main>div {
    margin-bottom: 20px;
}

button {
    background: #5e7fcc;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

button:hover {
    background: #3660c4;
}
button.disabled {
    background: #CCC;
    color: #000;
}
span {
    font-weight: bold;
}
.green {
    color: #08531b;
}

.cookies {
    cursor: pointer;
}

.cookies:active {
    transform: scale(1.1);
}

.upgrades button, .upgrades-info span {
    display: block;
    margin-bottom: 10px;
}
